Host home
	HostName home.moreharts.com
	User traherom

Host speardev
  Hostname spear.moreharts.com
  User traherom

Host demo
  Hostname scanner-demo.xylok.io
  User traherom

Host scanner-master
  Hostname master.xylok.io
  User traherom

