UpdateInterval=1
TimeScale=0
Size=48
Mode=0
Frame=1
Border=1
Bars=1
TrackedCore=0
Command=xfce4-taskmanager
InTerminal=0
StartupNotification=1
ColorMode=0
Foreground1=#ffffffffffff
Foreground2=#ffff00000000
Foreground3=#00000000ffff
Background=#0c630c630c63
BarsColor=#463a5488def8

